//start benefits
section.benefits
   .benefits__inner
       .benefits__box
           .benefits__item
               .benefits__img(role="img")
               .benefits__text-wrap
                   h3.benefits__title качество
                   p.benefits__text все вещи производятся в России <br> только из лучших материалов
           .benefits__item
               .benefits__img.benefits__img_del(role="img")
               .benefits__text-wrap
                   h3.benefits__title доставка
                   p.benefits__text быстрая доставка по всему миру, <br> от 2 дней, от 250 рублей
           .benefits__item
               .benefits__img.benefits__img_ex(role="img")
               .benefits__text-wrap
                   h3.benefits__title Обмен и возврат
                   p.benefits__text Если товар не подошел,мы вернем <br> деньги или заменим товар!
//end benefits