//start partners
section.partners
   .partners__inner
       .partners__visa(role="img")
       .partners__e-money(role="img")
       .partners__ems(role="img")
       .partners__dpd(role="img")
//end partners